<!DOCTYPE html>
<html>
<head>
  <title>Barracks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar navbar-fixed-top">
    <div class="container">
      <%= link_to "My Mess", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   '#' %></li>
          <li><%= link_to "Help",   '#' %></li>
          <!-- <li><%= link_to "Log in", '#' %></li> -->
          <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Sign up", new_user_registration_path %>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
