<!DOCTYPE html>
<html>
<head>
  <title>Barracks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar navbar-fixed-top">
    <div class="container">
      <%= link_to image_tag("logo_75.png"), '/', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   '#' %></li>
          <% if user_signed_in? %>
          <li><%= link_to "My Account", user_url(current_user) %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

</body>
</html>
